$RECYCLE.BIN
*$py.class
*.DS_Store*
*.a
*.app
*.bak
*.cab
*.class
*.com
*.d
*.dSYM/
*.dat
*.db
*.dmg
*.dylib
*.ear
*.egg
*.egg-info/
*.elf
*.exe
*.gch
*.gz
*.hex
*.hmap
*.i*86
*.ipa
*.iws
*.ko
*.la
*.launch
*.lib
*.lnk
*.lo
*.log
*.log*
*.log.*
*.manifest
*.mo
*.msi
*.msm
*.msp
*.o
*.obj
*.out
*.p12
*.pbxuser
*.pch
*.pid
*.pot
*.py[cod]
*.pyc
*.pydevproject
*.rar
*.sass-cache
*.seed
*.so
*.so.*
*.spec
*.sql
*.su
*.sublime*
*.swp
*.tar
*.tmp
*.war
*.x86_64
*.xccheckout
*.xcuserstate
*node_modules*
*~.nib
.AppleDB
.AppleDesktop
.AppleDouble
.DS_Store
.DocumentRevisions-V100
.LSOverride
.Python
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
._*
.apdisk
.balder_profile
.buildpath
.cache
.classpath
.coverage
.cproject
.eggs
.env
.externalToolBuilders
.factorypath
.fseventsd
.gradle
.grunt
.hypothesis
*.iml
.idea
.idea_modules
.installed.cfg
.ipynb_checkpoints
.loadpath
.lock-wscript
.metadata
.mtj.tmp
.node_repl_history
.npm
.nyc_output
.project
.python-version
.recommenders
.sass-cache
.settings
.springBeans
.target
.tern-project
.texlipse
.tox
.~lock.*
CMakeCache.txt
CMakeFiles
CMakeScripts
CTestTestfile.cmake
CUnit
Desktop.ini
Thumbs.db
__pycache__
backup
bin
build
coverage
coverage.xml
data
dist
eggs
gen
lib
lib-cov
lib64
logs3
node_modules
nohup.out
nosetests.xml
npm-debug.log*
out
target
testlib
tmp
var
venv
