name: build

on:
  push:
    branches:
      - master
  pull_request:

env:
  TAG_PREFIX: emazzotta/lighthouse-badges

permissions:
  id-token: write  # Required for OIDC npm publish workflow
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
          version: latest

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: Cache bun modules
        uses: actions/cache@v5
        with:
          path: '**/node_modules'
          key: ${{ runner.os }}-bun-modules-${{ hashFiles('**/bun.lockb') }}
          restore-keys: |
            ${{ runner.os }}-bun-modules-

      - name: Versions
        run: |
          echo "bun: $(bun --version)"
          echo "Docker: $(docker -v)"

      - name: Bun Build
        run: |
          bun install
          bun run lint
          bun run build

      - name: Login to DockerHub
        if: github.ref == 'refs/heads/master'
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Docker Build
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          tags: ${{ env.TAG_PREFIX }}:latest
          cache-from: type=gha
          cache-to: type=gha,mode=max
          load: true

      - name: Unit & Integration Test
        run: bun run test

      - name: Install and Run Codecov Uploader
        run: |
          curl -Os https://uploader.codecov.io/latest/linux/codecov
          chmod +x codecov
          ./codecov

      - name: Bun System Test
        run: bun run system-test:light-run

      - name: Docker System Test
        run: bun run docker:system-test:run

      - name: Deploy to GitHub Packages
        if: github.ref == 'refs/heads/master'
        uses: actions/setup-node@v6
        with:
          node-version: '24'
          registry-url: 'https://npm.pkg.github.com'
      - run: |
          current_version=$(jq -r '.version' package.json)
          package_name=$(jq -r '.name' package.json)
          registry_version=$(npm show ${package_name} version 2>/dev/null || echo '')
          if [[ "${registry_version}" == "${current_version}" ]]; then
            echo "Current version ${current_version} already published to GitHub Packages"
          else
            bun run ci:publish
          fi

      - name: Deploy to npm.js Registry
        if: github.ref == 'refs/heads/master'
        uses: actions/setup-node@v6
        with:
          node-version: 24
          registry-url: 'https://npm.pkg.github.com'
      - run: |
          jq '.name="lighthouse-badges"' package.json > package.json.temp && mv -f package.json.temp package.json
          current_version=$(jq -r '.version' package.json)
          package_name=$(jq -r '.name' package.json)
          registry_version=$(npm show ${package_name} version 2>/dev/null || echo '')
          if [[ "${registry_version}" == "${current_version}" ]]; then
            echo "Current version ${current_version} already published to npm"
          else
            bun run ci:publish
          fi

      - name: Set Environment Variables
        run: |
          echo "GIT_SHA=$(git rev-parse --short HEAD)" >> $GITHUB_ENV

      - name: Deploy to Dockerhub
        if: github.ref == 'refs/heads/master'
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: |
            ${{ env.TAG_PREFIX }}:${{ env.GIT_SHA }}
            ${{ env.TAG_PREFIX }}:latest
          cache-from: type=gha
          cache-to: type=gha,mode=max
          platforms: linux/amd64,linux/arm64

